NEXT_PUBLIC_SITE_URL=https://your-domain.vercel.app
NEXT_PUBLIC_SUPABASE_URL=https://wtmmipdhxhtfclgbmmra.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_secret_yPTJx5z--Kj4cGqd27guEQ_3BkNlhc5
RESEND_API_KEY=re_QLzXHjXd_KxKQUiF6ZUQz6U9RoxcJLvik
RESEND_FROM_EMAIL=WLIMP <registrations@your-domain.com>
ADMIN_NOTIFICATION_EMAIL=muhammadidrisibrahim24@gmail.com
